<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Exemplo Ejs</title>
    <link rel="stylesheet" href="Aula9/estilo.css">
</head>
<body>
    <h1>Exemplo For</h1>
    
 <div class="container">
    <% for (var i =1; i <= tamanho;  i++ ) { %>
        <div class="item">
            <%= i %>
        </div>
    <% } %>
</div>
        
</body>
</html>