#BodyIndex{
    background-color: rgb(210, 238, 236);
}

#tituloProj{
    color: rgb(5, 131, 250)
}


#tituloProj:hover{
    color: rgb(45, 186, 196);
}

.divPaisagens p{
    color: rgb(14, 84, 235);
    text-align: center;
}

.divPaisagens{
    margin-left: 250px;
    margin-right: 250px;
    justify-content: center;
}

.divPaisagens2{
    margin-left: 400px;
    margin-right: 250px;
}


.divTabela{
    align-items: center;
    text-align: center ;
}

