#BodyIndex{
    background-color: rgb(210, 238, 236);
}

#tituloProj{
    color: rgb(5, 131, 250)
}


#tituloProj:hover{
    color: rgb(45, 186, 196);
}

#Paisagens{
    color: rgb(14, 84, 235);
    text-align: center;
    
}

.divPaisagens{
    margin-left: 250px;
    
    justify-content: center;
}

.divPaisagens2{
    margin-left: 400px;
    margin-right: 250px;
}

.divTabela{
    align-items: center;
    text-align: center ;
}


/*Atv Copiando um Modelo*/

.HeaderCopy{
    background-color: bisque;
    color: darkgreen;
    height: 120px;
    border: solid blue;
    box-shadow: 0px 45px lightskyblue;
}

#tituloHeader{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}

.ImgHeader{ 
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
}

.ImgHeaderJava{ 
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    
}

#introducao{
    text-align: center;
}

#bodyCopy{
    background-color:  lightgray;
    height: fit-content;
}

.TextoPrincipal{
    text-align: center;
    color:indigo;
}

#textoLivros{
    text-align: center;
}

.LivroseVideos{
    position: relative;
    display: flex;
    justify-content: space-evenly; /*deixa os itens distribuídos igualmente, sem espaço nas laterais, pode ser usado o space around tambem, ele adiciona um pequeno espaço nas laterais*/
    /* "gap" é espaçamento entre os itens */
    z-index: 1;
    flex-wrap: wrap;
}

.LivroseVideos img {
    max-width: 100%; /* Garante que as imagens se ajustem ao espaço disponível */
    height: auto; /* Mantém a proporção das imagens */
    object-fit: cover; /* Garante que as imagens preencham o espaço sem distorcer */
}

#textoJava{
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 30px;
}

.NavHeader{
    color: darkred;
    font-size: small;
    position: absolute;
    top: 130px;
    left: 470px;
    display: flex;
    justify-content: space-between center;
    align-items: center;
    gap: 120px;
}

.videos{
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: space-around center;
    max-width: 100%;
    height: auto;
    gap: 20px;
    object-fit: cover;
}

#contato{
    text-align: center;
}

#tabelaContato{
    text-align: center;
    border-style: dashed;
    border-color: red;
}

#tdContato{
    color: red;
}

.sitesConsulta{
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: yellow;
    display: inline-block;
}

a {
    text-align: center;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.footerCopy{
    display: flex;
    height: 170px;
    background-color: bisque;
}

.ImgFooterHtml{ 
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
}

.ImgHeaderCss{ 
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 580px;
}

#textoFooter{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    font-family: "Comic Sans MS";
    font-size: 15pt
    
    
}