<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body>
    <h1>Resposta</h1>
    <p>mensagem do servidor: <%= resposta  %></p><!--isso cria uma variavel no ejs-->
</body>
</html>