<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Login enviado com sucesso!!</h1>
    <p>email: <%= email  %></p>
    <p>senha: <%= senha  %></p>
</body>
</html>