<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Resposta para Usuario</title>
    <link rel="stylesheet" href="Aula9/estilo.css">
</head>
<body>
    <h1>Resposta</h1>
    <p>mensagem do servidor: <%= mensagem  %></p><!--isso cria uma variavel no ejs-->

    <p>usuario: <%= usuario  %></p>
    <p>email: <%= login  %></p>
</body>
</html>